aiofiles
aiohttp
aria2p
async_generator
bs4
cowpy
cffi
covid
cryptg
dnspython
deezloader
emoji
gitpython
git+https://github.com/johnwmillr/LyricsGenius.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
google_images_download
gTTS
gTTS-token
hachoir
# heroku
heroku3
httplib2
html_telegraph_poster
humanize
jikanpy
justwatch
lyricsgenius
lxml
oauth2client
pendulum
Pillow
psutil
psycopg2
psycopg2-binary
pybase64
pyfiglet
pylast
pySmartDL
python-barcode
python-dateutil
python-dotenv
PyGithub
youtube-dl
pytz
qrcode
redis
requests
search-engine-parser
speedtest-cli
sqlalchemy
TgCrypto
telethon
telethon-session-sqlalchemy
telegraph
urbandict
validators
wget
wikipedia
youtube_search
