aiohttp
aria2p
async_generator
bs4
cowpy
cffi
covid
cryptg
dnspython
deezloader
emoji
gitpython
git+https://github.com/johnwmillr/LyricsGenius.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
google_images_download
gTTS
gTTS-token
hachoir
# heroku
heroku3
httplib2
humanize
lyricsgenius
lxml
oauth2client
Pillow
psycopg2
psycopg2-binary
pybase64
pyfiglet
pylast
pySmartDL
python-barcode
python-dateutil
python-dotenv
PyGithub
youtube-dl
pytz
qrcode
redis
requests>=2.18.4
search-engine-parser>=0.6.1
speedtest-cli>=2.0.2
sqlalchemy>=1.2
TgCrypto>=1.2.0
telethon>=1.10.6
telethon-session-sqlalchemy>=0.2.6
telegraph
urbandict
wget
wikipedia>=1.4.0
youtube_search
